<footer>
    <div class="f-info">
        <div class="f-info-socials">
        <i class="fa fa-facebook-square"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
        </div>
    <div class="f-info-brand">&copy; WanderLust Private Limited</div>
    <div class="f-info-links">
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms</a>
    </div>
    </div>
</footer>